.layout {
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(all, minmax(50px, auto));
    padding: 2rem;
}

.seats {
    border: 1px solid;
    text-align: center;
}

.sleeper {
    grid-area: span 2;
}

.seatLayout {
    border: 1px solid red;
    padding: 1rem;
    display: flex;
}

.seat {
    border: 1px solid #000;
    padding: 1rem;
    width: 100%;
    display: grid;
}